<h1>Password Generator</h1>

<div>
  <label>Enter length</label>
  <input />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox">
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox">
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox">
</div>

<div>
  <!--Event binding syntax-->
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>

  <label>Your Password</label>
  <!--Property binding syntax-->
  <!-- <input [value]="password" [name]="name"/> -->
  <input [value]="getPassword()" [name]="name"/>
</div>

<div>
  <!--interpolation-->
  {{ getNote() }}
</div>